.body{
  height: auto;
  font-family:Open Sans;
  font-weight: 400;
}

#nav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 70px;
  left: 0;
  background-color: #004b66;
  transition: 0.5s;
  padding-top: 60px; }
#nav li {
	float: left; }
#nav li a {
  padding: 8px 8px ;
  text-decoration: none;
  font-size: 15px;
  color: #FFF;
  display: block;
  transition: 0.3s; }
#nav li a:hover {
	color: #c00;
	 }

 #cointainer{
   height: 60vh;
  width:90%;
  margin-top: -25px;
  margin-left:9%;
  margin-right:5%;
  /*  position: fixed; */
   }
 

	.breadCrumbContainer{

			width:90%;
			margin-top: 15vh;
			margin-bottom: -20vh;
			margin-left:5%;
			margin-right:10%;
	}		  
 

   .topnav input[type=text]{
     position: absolute;
     border-style: solid;
     border-color: white;
     height:30px;
     width:50%;
     padding: 0px 30px;
     margin: 0px 300px;
     margin-top: -25px;
     cursor: pointer;
     font-weight: bold;
     font-size: 14px;
	 color: gray;


}

.topnav img{
    width: 100px;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 26px;
}


.search_box{
	width:70%;
	margin-left:10%;
}
.topnav{
  height: 60px;
  width: 100% ;
  background-color:#54d1b4 !important;
  position: absolute;
   top: 0;
   right: 0;
   left: 0;
   z-index: 20;
}
ul {
  list-style-type: none;
}

.fa-custom{
  color: #428bca;
}

.scrollTop {
	position: fixed; 
	width: 100%;
	bottom: 20px;
	align-items: center;
	height: 20px;
	justify-content: center;
	z-index: 1000;
	cursor: pointer;
	animation: fadeIn 0.3s;
	transition: opacity 0.4s;
	opacity: 0.5;
  }
  
  .scrollTop:hover{
	opacity: 1;
  }
#btnSearch {
	display: inline-flex;
	height: 2.7rem;
	align-items: center;
	width: 4rem;
	-webkit-appearance: none;
	justify-content: center;
  }
  .serv{
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
  }
  
  .serv2  {
	list-style: none;
	flex: 0 0 32%;
	margin-left:5px;
  }
  .product_size{
	  display: flex;
	flex-wrap: wrap;
}
.product_card{
	padding:10px;
	width: 280px;
	margin-left:7px;

}
@media only screen and (max-device-width: 480px) {
	/* .product_image{
		height: 100vh;
		display: flex;
		min-height:25% !important;
		} */
}
.product_image{
height: 12vh !important;
display: flex;
min-height:65%;
width:31px;
margin: 12px;
margin-top: 25px;
}
.description_text{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 5; /* number of lines to show */
	-webkit-box-orient: vertical;
	margin:0px 0px 30px 20px;
	margin-top:-12px;
}

.card_title{
	margin:0px 0px 30px 22px;
	padding-top:20px;
	font-weight: bold;
	font-size:18px;
}

.h2{
	color:white;
	padding:10px;
}
.bg_info {
	background-color:#27c8b9 !important;
}
a {
    color: white !important;
    text-decoration: none;
	background-color: transparent;
	font-size: 16px;
	padding:4px;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.8rem !important;
    line-height: inherit;
    white-space: nowrap;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .3rem 1rem !important;
}